<%= form_with(model: product_physical, local: true) do |form| %>
  <% if product_physical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_physical.errors.count, "error") %> prohibited this product_physical from being saved:</h2>

      <ul>
      <% product_physical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :products_id %>
    <%= form.text_field :products_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
